








@font-face {
    font-family: Roboto;
    src: url("Fonts/Roboto/Roboto-ThinItalic.ttf");     
}


@font-face {
    font-family: Roboto;
    src: url("Fonts/Roboto/Roboto-LightItalic.ttf");
    font-weight: 100;
}


@font-face {
    font-family: Roboto;
    src: url("Fonts/Roboto/Roboto-Italic.ttf");
    font-weight: bold;
}



body {
  
}





#Name {
    font-family: Roboto;
    font-weight: 100;
    font-size: 70px;
    color: black;
}

#Full-Stack {
    font-family: Roboto;
    color: black;
}

#resume-button{
    font-family: Roboto;
    border-color:black;
    border-radius: 10px;
    font-size: 20px;
    color:black;
    
}

#resume-button:hover {
    color: #66FCF1;
}



/* Navbar */

.navbar-custom {

    background-color: black;
    font-family: Roboto;
}


.nav-link {
    color: white;
    margin-left: 10px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #66FCF1;
    color:#66FCF1;
}

.navbar-brand:hover {
    text-decoration: underline;
    text-decoration-color:#66FCF1;
    color: #66FCF1;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}


.navbar-brand { 
    color: white;
    margin-left: 35px;
}

.navbar-nav {
    margin-right: 100px;
}



/* Homepage */

#Home {
   margin-left: 15%;
   margin-right: 15%;
   padding-top: 200px;
   margin-bottom: 270px;
}

#intro-pic {
  
}









/* Icons */
.bi-github {
    color:white;
    font-size: 40px;  
}

.bi-linkedin {
    font-size: 40px;
    color: white;
    margin-left: 30px;
}

.bi-envelope {
    font-size: 40px;
    color: white;
    margin-left: 30px;
} 

.contact-icons {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.bi-linkedin:hover {
    opacity: .8;
    color: #66FCF1;
}

.bi-envelope:hover {
    opacity: .8;
    color: #66FCF1;
}

.bi-github:hover {
    opacity: .8;
    color: #66FCF1;
}









/* Contact Form */

#Contact {
    text-align: center;
    margin-top: 30px;
    padding-top: 120px;
    font-family: Roboto;
    color: white;

}

#contact-form {
    margin-left: 15%;
    margin-right: 15%;  
    font-family: Roboto; 

}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-color:white;
    border-width: 2px;
    border-style: solid;
}

label {
    margin-bottom: 10px;
    color: white;
}

.submit-btn {
    border-radius: 20px;
    border-width: 2px;
    height: 35px;
    width: 100px;
    color: white;
    border-color:#66FCF1;
    background: transparent;
}

.submit-btn:hover {
    color: #66FCF1;
}


.form-control:focus{
    box-shadow: 0 1px 1px #1F2833 inset, 0 0 8px #1F2833;
    outline: 0 none;
}







/* Project */
#Project {
    margin-top: 30px;
    padding-top: 120px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Roboto;
    color: white;
}

.project-div {
    margin-left: 15%;
    margin-right: 15%;

}

#video-link {
    color: black;
    font-weight: bold;
}


#video-link:hover {
    text-decoration: underline;
}

.card {
    box-shadow: 0 6px 10px #66FCF1, 0 0 6px #66FCF1;
    overflow: hidden;
}

.card-img-top:hover{
    transform: scale(1.01);
    transition: transform 1s ease;
  
}

.card-img-top {
    transform: scale(1.0);
    transition:  transform 1s ease;
}


a {
    text-decoration: none;
}

.card-text {
    font-family: Roboto;
    font-weight: bold;
}





/* About Me */
#about-me{
    margin-left: 15%;
    margin-right: 15%;
   
}

#about-img {
    width: 100%;  
    border-radius: 5px;
    outline-color: white;outline-style: solid;
    outline-width: .5px;
    margin-bottom: 30px;
    /* box-shadow: 6px 6px 8px #66FCF1, 6px 6px 6px #66FCF1; */
    box-shadow: 10px 5px 5px#66FCF1;
}

#about-header {
    text-align: center;
    margin-bottom: 50px;
    font-family: Roboto;
    color: white;
}

#about-para-1 {
    font-family: Roboto;
    font-weight: bold;
    color: white;
}


#about-para-2 {
    font-family: Roboto;
    font-weight: bold;
    color: white
}

