h1 {
   
}

.navbar {

}

#Home {
    padding-top: 10%;
    padding-bottom: 10%;
}

#intro-pic {
    outline-color:white;
    align-self: left;
}









/* Icons */
.bi-github {
    color: black;
    font-size: 40px;  
}

.bi-linkedin {
    font-size: 40px;
    color: black;
    margin-left: 30px;
}

.bi-envelope {
    font-size: 40px;
    color: black;
    margin-left: 30px;
} 

.contact-icons {
    margin: auto;
    text-align: center;
}

.bi-linkedin:hover {
    opacity: .7;
}

.bi-envelope:hover {
    opacity: .7;
}

.bi-github:hover {
    opacity: .7;
}









/* Contact Form */

#Contact {
    text-align: center;
    margin-top: 80px;
}

#contact-form {
    margin-left: 25%;
    margin-right: 25%;   

}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}